{% extends "proj-base.html.twig" %}

{% block title %}Project{% endblock %}

{% block body %}
    <main class = "proj-main">
        <div class = "log-container">
            {% for entry in log %}
                <p class = "log-entry">
                    {{ entry.player }}: {{ entry.action }}
                    {% if entry.amount is not null %}
                        ${{ entry.amount ? entry.amount : ""}}
                    {% endif %}
                </p>
            {% endfor %}
        </div>

        <div class="poker-table">
            <div class="pot">Pot: ${{ pot }}</div>

            <div class="dealer-cards">
                {% for i in 0..4 %}
                    {% set card = dealerCards[i] ?? null %}
                    <div class="poker-card">
                        {% if card %}
                            <div style="background-image: url({{ asset('img/deck.png') }})" class="poker-deck-sprite card-{{ card.toString() }}"></div>
                        {% else %}
                            {{i}}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <div class="player-section">
                {% for player in players %}
                    {% set playerIndex = loop.index0 %}
                    {% set activePlayer = loop.index0 == currPlayerIndex %}
                    {% set folded = player.folded %}
                    <div class="poker-player {{ folded ? "folded" : "" }} {{ activePlayer ? "active-dent" : ""}}">
                        <div class="poker-player-name">{{player.name}}</div>
                        <div class="poker-player-cards">
                        {% for card in player.hand %}
                            <div class="poker-card {{ activePlayer ? 'active-player' : '' }}">
                                {% if playerIndex == 0 %}
                                    <div style="background-image: url({{ asset('img/deck.png') }})" class="poker-deck-sprite card-{{ card.toString() }}"></div>
                                {% else %}
                                    <div style="background-image: url({{ asset('img/backside.jpg') }})" class="poker-card-back"></div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        </div>
                        <div class="poker-player-money">${{player.getMoney()}}</div>
                        <div class="poker-player-bet">${{player.getCurrentBet()}}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="controls">
                <form class = "control-form" method="post" action="{{ path("user_input") }}">
                    <button name = "fold" class="fold-btn" {{ currPlayerIndex != 0 ? "disabled" : "" }}>Fold</button>
                    {% if not canCheck %}
                        <button name = "call" class="call-btn" {{ currPlayerIndex != 0 ? "disabled" : "" }}>Call</button>
                    {% else %}
                        <button name = "check" class="check-btn" {{ currPlayerIndex != 0 ? "disabled" : "" }}>Check</button>
                    {% endif %}
                    <button name = "raise" class="raise-btn" {{ currPlayerIndex != 0 ? "disabled" : "" }}>Raise</button>
                    <input class = "raise-input" type="number" name="money" placeholder = "Raise $" min = 20 value = 20 {{ currPlayerIndex != 0 ? "disabled" : "" }}>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
