{% extends "proj-base.html.twig" %}

{% block title %}Project{% endblock %}

{% block body %}
    <main class = "proj-main">
        <div class="poker-table">
            <div class="pot">Pot: ${{ pot }}</div>

            <div class="dealer-cards">
                {% for i in 0..4 %}
                    {% set card = dealerCards[i] ?? null %}
                    <div class="poker-card">
                        {% if card %}
                            <div style="background-image: url({{ asset('img/deck.png') }})" class="poker-deck-sprite card-{{ card.toString() }}"></div>
                        {% else %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <div class="player-section">
                {% for player in players %}
                    {% set playerIndex = loop.index0 %}
                    {% set activePlayer = playerIndex == currPlayerIndex and winner is empty %}
                    {% set folded = player.folded %}
                    <div class="poker-player {{ folded ? "folded" : "" }} {{ activePlayer ? "active-dent" : ""}} {{ player.getMoney() == 0 and playerIndex not in winner ? "no-money" : ""}}">

                        {% if useHelp and playerIndex == 0 and not useFullHelp %}
                            <div class = "poker-player-help">
                                {{ player.getEvaluatedString() }}
                            </div>
                        {% endif %}
                        {% if useFullHelp or winner is not empty %}
                            <div class = "poker-player-help {{ playerIndex in winner ? "is-winner-hint" : ""}}">
                                {{ player.getEvaluatedString() }}
                            </div>
                        {% endif %}
                        <div class="poker-player-name">{{player.name}}</div>
                        <div class="poker-player-cards">
                        {% for card in player.hand %}
                            <div class="poker-card {{ activePlayer ? "active-player" : "" }} {{ winner == playerIndex ? "is-winner" : ""}}">
                                {% if playerIndex == 0 or openCards or winner is not empty %}
                                    <div style="background-image: url({{ asset('img/deck.png') }})" class="poker-deck-sprite card-{{ card.toString() }}"></div>
                                {% else %}
                                    <div style="background-image: url({{ asset('img/backside.jpg') }})" class="poker-card-back"></div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        </div>
                        <div class="poker-player-money">${{player.getMoney()}}</div>
                        <div class="poker-player-bet">${{player.getCurrentBet()}}</div>
                    </div>
                {% endfor %}
            </div>
            <div class = "bottom-section">
                <div class="controls">
                        <form class = "control-form {{computerTurn and winner is empty ? "disabled-inputs" : ""}}" method="post" action="{{ path("user_input") }}">
                            {% if winner is not empty %}
                                <button name = "continue" class="fold-btn">Continue</button>
                            {% endif %}
                            {% if winner is not empty or players[0].getMoney() == 0 %}
                                <button name = "reset" class="fold-btn">Reset</button>
                            {% endif %}
                            {% if winner is empty %}
                                <button name = "fold" class="fold-btn" {{ currPlayerIndex != 0 ? "disabled" : "" }}>Fold</button>
                                {% if not canCheck %}
                                    <button name = "call" class="call-btn" {{ currPlayerIndex != 0 ? "disabled" : "" }}>Call</button>
                                {% else %}
                                    <button name = "check" class="check-btn" {{ currPlayerIndex != 0 ? "disabled" : "" }}>Check</button>
                                {% endif %}
                                <button name = "raise" class="raise-btn" {{ currPlayerIndex != 0 ? "disabled" : "" }}>Raise</button>
                                <input class = "raise-input" type="number" name="money" placeholder = "Raise $" min = 20 value = 20 {{ currPlayerIndex != 0 ? "disabled" : "" }}>
                            {% endif %}
                        </form>
                </div>

                <div class = "log-container">
                    {% for entry in log | reverse %}
                        <p class = "log-entry">
                            <span class = "log-text-section-player">{{ entry.player }} </span>
                            <span class = "log-text-section-action">{{ entry.action }}</span>
                            {% if entry.amount is not null %}
                                <span class = "log-text-section-amount">${{ entry.amount }}</span>
                            {% else %}
                                <span class = "log-text-section-amount">-</span>
                            {% endif %}
                        </p>
                    {% endfor %}
                </div>
            </div>

        </div>
    </main>

    <script>
        {% if computerTurn and not isOver %}
            setTimeout(function() {
                window.location.href = "{{ path("holdem") }}"
            }, 2000);
        {% endif %}
        {% if currPlayerIndex == 0 or winner is not empty %}
            {% for player in players %}
                    const log{{ loop.index }} = {{ player.getComputerLog()|json_encode(constant('JSON_PRETTY_PRINT'))|raw }};
                    console.log("Log for Player {{ loop.index }}:", log{{ loop.index }});
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}
