{% extends "base.html.twig" %}

{% block title %}Deal{% endblock %}

{% block body %}
    <main class = "small-margin">
        <div class="deck-container">
            <div class="side">
                <div style="background-image: url({{ asset('img/backside.jpg') }})" class="card{{ isEmpty == 1 ? '-empty' : '-back' }}"></div>
                    <h1>{{ size }}</h1>
            </div>

            <div class="playing-cards">
                {% for hand in hands %}
                    <div class = "player p-{{loop.index0}}">
                        {% for card in hand.getCards() %}
                            <div style="background-image: url({{ asset('img/deck.png') }})" class="deck-sprite card-{{ card.toString() }}"></div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
