{% extends "base.html.twig" %}

{% block title %}Deal{% endblock %}

{% block body %}
    <main class = "small-margin center-vertical">
        <div class="game-container">
            <div class="game-side">
                {% if deck.isEmpty() == 1 %}
                    <div class="card-empty"></div>
                {% else %}
                    <div style="background-image: url({{ asset('img/backside.jpg') }})" class="card-back"></div>
                {% endif %}
                    <h1>{{ deck.size() }}</h1>
            </div>

            <div class="game-cards">
                    <div class = "game-player {{winner == 0 ? 'winner-bg' : ''}}">
                        <div class = "info-container bank-color"><p>Bank</p><p>{{bank.getScore()}}</p></div>
                        {% for card in bank.getHand() %}
                            <div style="background-image: url({{ asset('img/deck.png') }})" class="deck-sprite card-{{ card.toString() }}"></div>
                        {% endfor %}
                    </div>

                    <div class = "game-player p-1 {{winner == 1 ? 'winner-bg' : ''}}">
                        <div class = "info-container player-color"><p>Player</p><p>{{player.getScore()}}</p></div>
                        {% for card in player.getHand() %}
                            <div style="background-image: url({{ asset('img/deck.png') }})" class="deck-sprite card-{{ card.toString() }}"></div>
                        {% endfor %}
                    </div>
            </div>

            <form class = "controls-container" method="post" action="">
                <input type="submit" name="draw" value="draw"
                    onClick="this.form.action='{{ path('draw') }}';"
                    {{ gameIsOver ? 'disabled' : '' }}
                >

                <input type="submit" name="stop" value="stop"
                    onClick="this.form.action='{{ path('stop') }}';"
                    {{ drawCounter == 0 or gameIsOver ? 'disabled' : '' }}
                >

                <input type="submit" name="restart" value="restart"
                    onClick="this.form.action='{{ path('restart') }}';"
                    {{ drawCounter == 0 or not gameIsOver ? 'disabled' : '' }}
                >

                {% if gameIsOver %}
                    <p class = "end-text">{{ winner == 0 ? 'Bank wins!' : 'You won!' }}</p>
                {% endif %}
            </form>

        </div>
    </main>
{% endblock %}
