<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    </head>
    <body>

        <nav>
            <a href="{{ path('index') }}" class="{% if app.request.attributes.get('_route') == 'index' %}active{% endif %}">Home</a>
            <a href="{{ path('about') }}" class="{% if app.request.attributes.get('_route') == 'about' %}active{% endif %}">About</a>
            <a href="{{ path('report') }}" class="{% if app.request.attributes.get('_route') == 'report' %}active{% endif %}">Report</a>
            <a href="{{ path('lucky') }}" class="{% if app.request.attributes.get('_route') == 'lucky' %}active{% endif %}">Lucky</a>
            <a href="{{ path('api') }}" class="{% if app.request.attributes.get('_route') == 'api' %}active{% endif %}">API</a>
            <a href="{{ path('session') }}" class="{% if app.request.attributes.get('_route') == 'session' %}active{% endif %}">Session</a>
            <a href="{{ path('card') }}" class="{% if app.request.attributes.get('_route') == 'card' %}active{% endif %}">Card</a>
            <a href="{{ path('game') }}" class="{% if app.request.attributes.get('_route') == 'game' %}active{% endif %}">21</a>
            <a href="{{ path('library') }}" class="{% if app.request.attributes.get('_route') == 'library' %}active{% endif %}">Library</a>
            <a href="{{ path('metrics') }}" class="{% if app.request.attributes.get('_route') == 'metrics' %}active{% endif %}">Metrics</a>
        </nav>

        {% block body %}{% endblock %}

        <footer>
            <p>Copyright &copy; lvndquist</p>
        </footer>


    </body>
</html>
