{% extends "base.html.twig" %}

{% block title %}Library{% endblock %}

{% block body %}
    <main>
        <h1>
            <a class = "back-arrow" href = "{{path('library_show_all')}}"><i class="fa-solid fa-chevron-left"></i></a>
            Details
        </h1>
        <div class = "library-detail-containter">
            <img class="library-img" src="{{ asset('img/' ~ book.imageUrl ~ '.jpeg') }}" alt="">
            <table class="library-details">
                <tr>
                    <th>ID</th>
                    <td>{{ book.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ book.title }}</td>
                </tr>
                <tr>
                    <th>Author</th>
                    <td>{{ book.author }}</td>
                </tr>
                <tr>
                    <th>ISBN</th>
                    <td>{{ book.isbn }}</td>
                </tr>
            </table>
        </div>
    </main>
{% endblock %}
