{% extends "base.html.twig" %}

{% block title %}Library{% endblock %}

{% block body %}
    <main>
        <h1>Library</h1>
        {{ include('flash.html.twig') }}

        <a href = "{{path('book_create')}}">Add book</a>
        <table class = "library-all-books">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Title</td>
                    <td>Author</td>
                    <td>ISBN</td>
                    <td class = "center">Action</td>
                </tr>
            </thead>
            <tbody>
            {% for book in books%}
                <tr>
                    <td><a href = "{{ path("book_by_id", { "id": book.id }) }}">{{book.id}}</a></td>
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.isbn}}</td>
                    <td class = "center">
                        <a href = "{{ path("update_book_by_id", { "id": book.id }) }}"><i class="fa-solid fa-pencil icon"></i></a>
                        <a href = "{{ path("delete_book_by_id", { "id": book.id }) }}"><i class="fa-solid fa-trash icon"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
