{% extends "base.html.twig" %}

{% block title %}API routes{% endblock %}

{% block body %}
    <main>
        <h1>Alla API router</h1>
        <ul class = "api-list">
            <li><a href = "{{path('quote')}}">/api/quote</a> Presents a random quote.</li>
            <li><a href = "{{path('get_deck')}}">/api/deck</a> Present a sorted card deck.</li>
            <li>
                <form action="{{path('post_deck_shuffle')}}" method="POST">
                    <a href="javascript:;" onclick="this.parentNode.submit()">/api/deck/shuffle</a>
                </form>
                Shuffle card deck.
            </li>
            <li>
                <form action="{{path('post_deck_draw')}}" method="POST">
                    <a href="javascript:;" onclick="this.parentNode.submit()">/api/deck/draw</a>
                </form>
                Draw a card from card deck.
            </li>
            <li>
                <form class = "url-input-container" action="{{path('post_deck_draw_number')}}" method="POST">
                    <a href="javascript:;" onclick="this.parentNode.submit()">/api/deck/draw/</a>
                    <input class = "url-input" type="number" name="num_cards" min="1" max="52" value="3">
                </form>
                Draw &lt;number&gt; of cards from card deck. Note: you can change the number by clicking on it.
            </li>
            <li>
                <form action="{{path('post_deck_deal_players_cards', {"players": 4, "cards": 6})}}" method="POST">
                    <a href="javascript:;" onclick="this.parentNode.submit()">/api/deck/deal/:players/:cards</a>
                </form>
                Deal number of &lt;cards&gt; to &lt;players&gt; from a card deck.
            </li>
            <li><a href = "{{path('get_game')}}">/api/game</a> Presents card game information.</li>
            <li><a href = "{{path('api_books')}}">/api/library</a> Get all books in the library.</li>
            <li><a href = "{{path('book_by_isbn', {"isbn": 9789171370143})}}">/api/library/book/isbn</a> Get book by ISBN.</li>
        </ul>
    </main>
{% endblock %}
